<%-  include("include/header.ejs") -%>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Entey Fee Setting</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Entey Fee Setting</li>
          <!-- <li class="breadcrumb-item active">Data</li> -->
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <!-- card  -->
    <div class="shadow p-3 mb-5 bg-body rounded container">
    <div class="container p-1" style="background:#D3D3D3;">
        <h4 style="margin:0">Entry Fees Points 13 Setting</h4>
    </div>
    <div class="container m-2" style="background:#FFFFFF">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mt-4 mb-2">
            <label for="inputPassword2" class="sr-only">Entey Fees:</label>
            <input type="number" class="form-control" id="inputPassword2" value="10">
          </div>
          <button type="submit" class="btn btn-success mb-2">Save</button>
        </form>
    </div>
    </div>
    <!-- card  -->
    <!-- card  -->
    <div class="shadow p-3 mb-5 bg-body rounded container">
    <div class="container p-1" style="background:#D3D3D3;">
        <h4 style="margin:0">Entry Fees Points 21 Setting</h4>
    </div>
    <div class="container m-2" style="background:#FFFFFF">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mt-4 mb-2">
            <label for="inputPassword2" class="sr-only">Entey Fees:</label>
            <input type="number" class="form-control" id="inputPassword2" value="50">
          </div>
          <button type="submit" class="btn btn-success mb-2">Save</button>
        </form>
    </div>
    </div>
    <!-- card  -->
    <!-- card  -->
    <div class="shadow p-3 mb-5 bg-body rounded container">
    <div class="container p-1" style="background:#D3D3D3;">
        <h4 style="margin:0">Entry Fees Points 24 Setting</h4>
    </div>
    <div class="container m-2" style="background:#FFFFFF">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mt-4 mb-2">
            <label for="inputPassword2" class="sr-only">Entey Fees:</label>
            <input type="number" class="form-control" id="inputPassword2" value="100">
          </div>
          <button type="submit" class="btn btn-success mb-2">Save</button>
        </form>
    </div>
    </div>
    <!-- card  -->




</main>


<%- include("include/footer.ejs") -%>