<%-  include("include/header.ejs") -%>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Data Tables</h1>
      
    </div><!-- End Page Title -->
    <div class="d-flex" style="justify-content: flex-end;">
      <button class="btn btn-sm btn-success m-1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add +</button>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Game Name</th>
                    <th scope="col">Game Price</th>
                    <th scope="col">Winning Price</th>
                    <th scope="col">Player</th>
                  </tr>
                </thead>
                <tbody>
                      <tr>
                        <td><img src="" alt="Logo" style="width: 50px; height: 50px;"></td>
                        <td>gameName </td>
                        <td>gamePrice </td>
                        <td>winerPrice </td>
                        <td>player </td>
                      </tr>
                  </tbody>
</table>
            </div>
          </div>

        </div>
      </div>
    </section>
<!-- deltet modal -->
<div class="text-center">
  <!-- Button HTML (to Trigger Modal) -->
  <!-- <a >Click to Open Confirm Modal</a> -->
</div>

<!-- Modal HTML -->
<div class="de">
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
    <i class="bi bi-exclamation-circle text-danger" style="font-size:2rem"></i>
      <!-- <div class="modal-header">
        <div class="icon-box">
          <i class="bi bi-twitter-x">X</i>
          <i class="material-icons"></i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- deltet modal -->



<!-- START Modal ADD LOBBIES -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="gamePriceForm" enctype="multipart/form-data" >
          <div class="mb-3">
            <input type="file" class="form-control" name="logoimg" id="logoimg">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" name="gameName" id="gameName" placeholder="Game Name">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" name="gamePrice" id="gamePrice" placeholder="Game Price">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" name="winerPrice" id="winerPrice" placeholder="Winning Price">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" name="player" id="player" placeholder="Player Quantity">
          </div>
          <button class="btn btn-success" type="button" onclick="submitForm()">Save</button>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- <script>
  function submitForm() {
    event.preventDefault();
    const logoimg = "";
    const gameNameInput = document.getElementById('gameName');
    const gamePriceInput = document.getElementById('gamePrice');
    const winerPriceInput = document.getElementById('winerPrice');
    const playerInput = document.getElementById('player');

    const gameName = gameNameInput.value;
    const gamePrice = gamePriceInput.value;
    const winerPrice = winerPriceInput.value;
    const player = playerInput.value;
    const status=0
    // Convert data to JSON
    const formData = {
      logoimg,
      gameName,
      gamePrice,
      winerPrice,
      player,
      status,
    };
    // fetch data using the API endpoint
    fetch('http://localhost:5000/LudoControllerPrice', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })
      .then(response => response.json())
      .then(data => {
        // Log the response from the API
        console.log('API Response:', data);
        
        // Clear input fields
        gameNameInput.value = "";
        gamePriceInput.value = "";
        winerPriceInput.value = "";
        playerInput.value = "";

        // Enable the close button
        const closeButton = document.querySelector('.btn-secondary');
        closeButton.removeAttribute('disabled');

        // Close the modal after successful submission
        $('#exampleModal1').modal('hide');
      })
      .catch(error => console.error('Error:', error));
  }
</script> -->
  

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  document.getElementById('gamePriceForm').addEventListener('submit', function(event) {
    event.preventDefault();
    submitForm(event);
  });
});

async function submitForm() {
  const gameName = document.getElementById('gameName').value;
  const gamePrice = document.getElementById('gamePrice').value;
  const winerPrice = document.getElementById('winerPrice').value;
  const player = document.getElementById('player').value;
  const backgroundimg = "";

  // Retrieve the file input value
  const logoimgInput = document.getElementById('logoimg');
  const logoimg = logoimgInput.files[0]; // Get the first file from the input

  console.log('Input Values:', gameName, gamePrice, winerPrice, player, logoimg, backgroundimg);

  // Create a FormData object and append form data
  const formData = new FormData();
  formData.append('gameName', gameName);
  formData.append('gamePrice', gamePrice);
  formData.append('winerPrice', winerPrice);
  formData.append('player', player);
  formData.append('backgroundimg', backgroundimg);
  formData.append('logoimg', logoimg);

  console.log('FormData before fetch:', formData);


    try {
      const response = await axios.post(
        "http://localhost:5000/LudoControllerPrice",
        {gameName,gamePrice,winerPrice,player,logoimg,backgroundimg},
        {
          headers: {
            "Content-Type": "application/json"
          }
        }
      );
      if (response) {
        console.error("submitting form:");
      }
      // console.log("ho gya history submit ludowala", response.data);
    } catch (error) {
      console.error("Error submitting form:", error);
      if (error.response) {
        console.error("Response data:", error.response.response);
      }
    }
    }
  </script> -->
  
  <!--end Modal ADD LOBBIES -->

<!-- START Modal edit LOBBIES -->
<!-- <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <!-- <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <input type="text" class="form-control" id="formGroupExampleInput" value="Pawan saini">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" id="formGroupExampleInput" value="7221076220">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="formGroupExampleInput" value="pavasini9852@gmail.com">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
          </div>
          <button class="btn btn-success">Save</button>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div>
    </div>
  </div>
</div> -->
<!--end Modal edit LOBBIES -->


  </main><!-- End #main -->
  <!-- <script src="assets/js/main.js"></script> -->
  
 <!-- <?html include("include/footer.html")?> -->
 
 <%- include("include/footer.ejs") -%>