<%- include("include/header.ejs") -%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>

    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img id="AdminProfileImg" src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
              <h2>Kevin Anderson</h2>
              <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                    Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p id="about" class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque
                    temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem
                    eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div id="FullName" class="col-lg-9 col-md-8">Kevin Anderson</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div id="Company" class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">Web Designer</div>
                  </div> -->

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div id="Country" class="col-lg-9 col-md-8">USA</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div id="Address" class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div id="Phone" class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div id="Email" class="col-lg-9 col-md-8">k.anderson@example.com</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Upi Key</div>
                    <div id="Key" class="col-lg-9 col-md-8">UHEUH8418KJVI78</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Upi Token</div>
                    <div id="Token" class="col-lg-9 col-md-8">98789654423511</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Sender</div>
                    <div id="Sender" class="col-lg-9 col-md-8">abcinfotech@gmail.com</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Password</div>
                    <div id="Password" class="col-lg-9 col-md-8">98KJIGIY1</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img id="AdminProfileImg1" src="/assets/img/profile-img.jpg" alt="Profile">
                        <div class="pt-2">
                          <input type="file" id="img-upload" name="ProfileImg" href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
                          <a href="#"onclick='DeleteProfileImg()' class="btn btn-danger btn-sm" title="Remove my profile image"><i
                              class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="FullName" type="text" class="form-control" id="Fname1" value="Kevin Anderson">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="About" class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="About1"
                          style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Company" type="text" class="form-control" id="Company1"
                          value="Lueilwitz, Wisoky and Leuschke">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Job" type="text" class="form-control" id="Job" value="Web Designer">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Country" type="text" class="form-control" id="Country1" value="USA">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Address" type="text" class="form-control" id="Address1"
                          value="A108 Adam Street, New York, NY 535022">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Phone" type="text" class="form-control" id="Phone1" value="(436) 486-3538 x29071">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Email" type="email" class="form-control" id="Email1"
                          value="k.anderson@example.com">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Upi Key</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="UPIKey" type="text" class="form-control" id="Key1" value="KLJNIUNREO648946135KJSD">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Upi Token</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="UPIToken" type="text" class="form-control" id="Token1"
                          value="68465494497649874984">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Email Sender</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="EmailSender" type="text" class="form-control" id="Sender1" value="abc@gmail.com">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Email Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="EmailPassword" type="text" class="form-control" id="Password1"
                          value="TF58TYUH4841">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form id="change_password">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="CurrentPassword" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newPassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button onclick="changePassword()" type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    let fetchedData ;
    async function fetchData() {
      try {
        const { data } = await axios.get('https://admin.win4cash.in/AdminData');
        // console.log(data,'hjk')
        fetchedData ={...data};
        const fname = document.getElementById('FullName');
        const company = document.getElementById('Company');
        const country = document.getElementById('Country');
        const address = document.getElementById('Address');
        const phone = document.getElementById('Phone');
        const email = document.getElementById('Email');
        const key = document.getElementById('Key');
        const token = document.getElementById('Token');
        const sender = document.getElementById('Sender');
        const password = document.getElementById('Password');
        const about = document.getElementById('about');
        const img  = document.getElementById('AdminProfileImg');

        const fname1 = document.getElementById('Fname1');
        const company1 = document.getElementById('Company1');
        const country1 = document.getElementById('Country1'); 
        const address1 = document.getElementById('Address1');
        const phone1 = document.getElementById('Phone1');
        const email1 = document.getElementById('Email1');
        const key1 = document.getElementById('Key1');
        const token1 = document.getElementById('Token1');
        const sender1 = document.getElementById('Sender1');
        const password1 = document.getElementById('Password1');
        const about1 = document.getElementById('About1');
        const job = document.getElementById('Job');
        const img1 = document.getElementById('AdminProfileImg1');

        fname.innerHTML = data.FullName;
        company.innerHTML = data.Company;
        country.innerHTML = data.Country;
        address.innerHTML = data.Address;
        phone.innerHTML = data.Phone;
        email.innerHTML = data.Email;
        key.innerHTML = data.UPIKey;
        token.innerHTML = data.UPIToken;
        sender.innerHTML = data.EmailSender;
        password.innerHTML = data.EmailPassword;
        about.innerHTML = data.About;
        if(data.ProfileImg){
          img.src = `https://admin.win4cash.in/${data.ProfileImg}`;
        }

        fname1.value = data.FullName;
        company1.value = data.Company;
        country1.value = data.Country;
        address1.value = data.Address;
        phone1.value = data.Phone;
        email1.value = data.Email;
        key1.value = data.UPIKey;
        token1.value = data.UPIToken;
        sender1.value = data.EmailSender;
        password1.value = data.EmailPassword;
        about1.innerText = data.About;
        job.value = data.Job;
        if(data.ProfileImg){
          img1.src = `https://admin.win4cash.in/${data.ProfileImg}`;
        }
        const header_img = document.getElementById('header-img');
        if(data.ProfileImg){
          header_img.src = `https://admin.win4cash.in/${data.ProfileImg}`;
        }

      const passwordinput = document.getElementById("currentPassword");
      const passwordInput =data.Password;
      let maskedPassword = "";

      if (passwordInput.length >= 2) {
        maskedPassword = passwordInput.charAt(0) + "*".repeat(passwordInput.length - 2) + passwordInput.charAt(passwordInput.length - 1);
      } else {
        maskedPassword = "*";
      }
      passwordinput.placeholder = maskedPassword;
    
      } catch (error) {
        console.error('Error fetching data:', error);
      }

    }

    fetchData();
     
    const form  =  document.getElementById('change_password');
    form.addEventListener('submit',(e)=>{
      e.preventDefault();
      this.reset();
    })

  async function changePassword() {
      const formdata = {
        CurrentPassword: document.getElementById('currentPassword').value,
        NewPassword: document.getElementById('newPassword').value
      }
      const { data } = await axios.post('https://admin.win4cash.in/ChangeAdminPassword', formdata);
    }

  async function DeleteProfileImg(){
       const {data1} = axios.post('http://localhost:5000/DeleteAdminImg',{email:fetchedData.Email});
       window.location.href = 'users-profile';
      }





  </script>
  <%- include("include/footer.ejs") -%>